$dark-bg: #404040;
$primary: #0ea5e9;
$secondary: #fdba74;
$tertiary: #e5e5e5;
$drawerDark: #262626;
$emptyGray: #6b7280;

// 深色、淺色模式
$switchDark: #737373;
$switchLight:#e5e5e5;

$primary-light: black;

:export {
    #{"$primary"}: $primary;
    #{"$secondary"}: $secondary;
    #{"$switchDark"}: $switchDark;
    #{"$switchLight"}: $switchLight;
}

.jh-primaryBg {
    background-color: $primary;
}

.jh-secondaryBg {
    background-color: $secondary;
}

.jh-drawerDark {
    background-color: $drawerDark;
}

.jh-colorPrimary{
    color: $primary;
}

.jh-colorSecondary{
    color: $secondary;
}


.jh-itemHover{
    &:hover{
        background-color: $tertiary;
    }
}

.dark{
    .jh-itemHover{
        &:hover{
            background-color: $drawerDark;
        }
    }
}