$dark-bg: #404040;
$primary: #0ea5e9;
$secondary: #e5e5e5;
$tertiary: "";
$drawerDark: #262626;
$emptyGray: #6b7280;

// 深色、淺色模式
$switchDark: #737373;
$switchLight:#e5e5e5;

$primary-light: black;

:export {
    #{"$primary"}: $primary;
    #{"$switchDark"}: $switchDark;
    #{"$switchLight"}: $switchLight;
}

.jh-primaryBg {
    background-color: $primary;
}

.jh-colorPrimary{
    color: $primary;
}